html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}
.w-block {
  display: block;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-clearfix:after {
  clear: both;
}
.w-hidden {
  display: none;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input.w-button {
  -webkit-appearance: button;
}
html[data-w-dynpage] [data-w-cloak] {
  color: transparent !important;
}

a {
  color: rgb(93, 143, 93);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

.bg-light {
  background-color: #d4dfc5 !important;
}

.imagelogo1 {
  margin-top: 10px;
  margin-right: 28px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  border-radius: 8px;
  text-align: justify;
}

.navbarlogo1 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  margin-right: 0px;
  margin-bottom: -7px;
  border-radius: 6px;
  background-color: #b1c392;
}

.flower {
  border-style: solid;
  border-width: 8px;
  border-color: #563e3e;
  border-radius: 4px;
}

section {
  margin: 90px 0;
}

.gehbauer {
  border-style: solid;
  border-width: 8px;
  border-color: #8c4a4a;
  border-radius: 4px;
}

.divblockhome {
  display: grid;
  background-color: #f2e4e4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 40px;
}

.adress {
  margin: -16px -10px -21px 0px;
  padding: 0px 1px 0px 0px;
  border: 10px solid #403838;
  border-radius: 4px;
  background-color: #938080;
}

.body {
  display: block;
  margin-top: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaada9;
  background-color: #fcfcfc;
  text-align: left;
}

.paragraph {
  margin-top: 0px;
}

.heading {
  margin-top: 0px;
}

.homefootersection {
  text-align: center;
  padding: 10px;
}

.home-footer-button {
  background-color: #73884d;
  border-radius: 6px;
  margin-right: 8px;
  color: #fff;
}

.home-footer-button:hover {
  color: #fff;
}

.divblockshiatzu {
  padding: 16px;
  background-color: #e5e6eb;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
}

.divblockperson1 {
  padding: 14px 0px;
  background-color: #d2e8e9;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
  text-align: center;
}

.divblockphysiotherapie {
  text-align: center;
  background-color: #ffeedb;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
  padding: 16px;
}

.outdoorimage {
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px #fff, 1px 1px 10px 0 #000;
}

.div-block.microstrom {
  padding: 16px;
  background-color: #d1e4f5;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
}

.container p {
  margin-bottom: 24px;
}

.dbanfahrt {
  padding: 16px;
  background-color: #f8e9dd;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
}

.google-map-image,
.door-image {
  margin-right: 20px;
  max-height: 250px;
  height: 250px;
  object-fit: cover;
}

.dbimpressum {
  padding: 16px;
  background-color: #fbe9ee;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
}

.dbdat {
  padding: 16px;
  background-color: #d7ebd5;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thick;
}

.mountainview-img {
  border-radius: 8px;
  box-shadow: 1px 1px 10px 0 #000;
}

.pbutton {
  padding: 2px 7px;
  border-radius: 4px;
  background-color: #73884d;
  color: #fff;
}
.pbutton:hover {
  color: #fff;
}

.image {
  box-shadow: 1px 1px 9px 3px #000;
}

.image-2 {
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 #000;
}

.rich-text-block {
  margin: 48px;
}

.rich-text-block-2 {
  padding: 20px;
  border-style: solid;
  border-width: 8px;
  border-color: #561515;
  border-radius: 4px;
}

html.w-mod-js *[data-ix="new-interaction"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.copyright {
  text-align: center;
}
